@model MiniQM.Model.ChangeQualityPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChangeQualityPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Certificate.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Certificate.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Criterion.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Criterion.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualityPlan.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualityPlan.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDynamic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDynamic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDetailed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDetailed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrafactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrafactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AQL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AQL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionEquipmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionEquipmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NominalSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NominalSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasingControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasingControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
