@model IEnumerable<MiniQM.Admin.Models.QualityPlanViewModel>

@{
    ViewBag.Title = "Kalite Planı";
}

    <h2>Kalite Planı</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Yeni Kalite Planı</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaterialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProcess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>

        <th>Eylemler</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CompanyName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FacilityName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaterialName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ClosedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsProcess)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsActive)
    </td>
    <td>
        @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Detay", "Details", new { id = item.Id }) |
        @Html.ActionLink("Sil", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
